@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    text-align: center;
}

header{
    background-color: #7B6251;
    color: white;
    padding: 24px 0px;
    font-size: 32px;
    font-weight: bold;
}

main{
    color: #7B6251;
    padding: 16px 0px;
    display: flexbox;
    flex: auto;
}

main h4,.score{
    color: #7B6251;
    font-weight: bold;
    font-size: 20px;
}

main h3{
    color: #38302a;
    font-weight: bolder;
    font-size: 30px;
}

main h3,h4,div{
    margin:16px 0px;
}

img{
    max-height: 240px;
    max-width: 240px;
}

.choice-container {
    display: flex;
    flex: auto;
    justify-content: center;
    gap: 72px;
    flex-wrap: wrap;
}

.choice-container div img,p{
    margin: 16px 0px;
}

.rps-container {
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}

.rps-container button {
    background-color: #d6d6d6;
    padding: 12px;
    border: none;
    border-radius: 12px;
}

.reset-container button {
    background-color: #38302a;
    padding: 12px;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    color: white;
    font-size: 20px;
}
